.article-container {
    max-width: 80%;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto;
    font-size: 20px;
}
video {
    max-width: 40%;
    center: center;
    display: inline-block;
}
#TableOfContents, .docs-toc-title {
    border-left: 1px solid $sta-primary;
    width: 500px;
    /* "$sta-primary" is the primary colour from the theme (sass/scss) */
}
html {
    scroll-behavior: smooth;
}
