.article-container {
    max-width: 80%;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto;
    font-size: 20px;
}
video {
    max-width: 40%;
    center: center;
    display: inline-block;
}
#TableOfContents, .docs-toc-title {
    border-left: 1px solid $sta-primary;
    width: 500px;
    /* "$sta-primary" is the primary colour from the theme (sass/scss) */
}
html {
    scroll-behavior: smooth;
}

.youtube_video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 50px;
}

.youtube_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    border:0;
}
